einops==0.7.0                        
ftfy==6.2.0                        
kornia==0.6.9                                          
tiktoken==0.7.0                        
timm==0.6.12                       
ipdb
numpy==1.26.4
opencv-python
scikit-learn